geopandas==0.14.4
shapely==2.0.4
fiona==1.9.6
pyproj==3.6.1
pyogrio==0.7.2

joblib==1.4.2
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
pydeck==0.8.1b0
requests==2.31.0
scikit-learn==1.4.2
streamlit==1.33.0
xgboost==2.0.3
